<h2>Hello World</h2>
<p>
  The time is now: <%= Time.now %>
</p>

<div class="container-fluid bg-gray-lighter">
  <div class="container">
    <h3 class="text-uppercase text-center">Awards</h3>
    <h2 class="text-center">CROmetrics is proudly listed as a 3-star Optimizely partner, the highest distinction given to solutions partners.</h2>
    <div class="row">
      <div class="col-md-4">
        <%= image_tag "opties-winner-2015.png", alt: "Opties Winner 2015", class: "center-block" %>
        <h4 class="text-center">Most Impactful Use of Personalization</h4>
      </div>
      <div class="col-md-4">
        <%= image_tag "opties-winner-2015.png", alt: "Opties Winner 2015", class: "center-block" %>
        <h4 class="text-center">Experience of the Year</h4>
      </div>
      <div class="col-md-4">
        <%= image_tag "opties-winner-2015.png", alt: "Opties Winner 2015", class: "center-block" %>
        <h4 class="text-center">The Better Together Award</h4>
      </div>
    </div>
    <h3 class="text-center">Winner of three 2015 Optie Awards</h3>
  </div>
</div>
