$opt_blue: #0081ba;
table {
	tr {
		td {
			font-size: 1.25em;
		}
		td.result {
			width: 100%;
		}
		input {
			height: 60px;
			font-size: 2.0em;
			width: 100px !important;
		}
		.result {
			font-size: 1.5em;
			#results {
				strong {
					color: $opt_blue;
				}
			
			}
		}
		
	}
}